{% extends "base.html" %}
{% set page_title="Home" %}
{% set active_page="about" %}
{% block content %}
<h4>关于我们</h5>
<div class="container">
    <div class="row">
        <div class="span10">
            <h4>BoyMonster</h4>
            <hr class="featurette-divider">
            <div class="alert alert-info">
                <blockquote>
                    <p>两位毕业生，一位将继续他求学生涯，一位将步入社会开始自力更生。在离校之际，创建了BoyMonster，一个网络二手书交易平台，希望四年陪伴我们的教科书可以继续服役，让每年毕业季在垃圾站堆积如山的二手书成为历史。
                    手过留温，笔过留情，更有味道的二手书会成为校园文化继续流传下去，这就是BoyMonster的愿望。<br>
                    如果你也看不惯书被论斤买卖，请参与进来吧，把BoyMonster分享给更多同学，让毕业季的安理校园书香四溢，热闹非凡。</p>
                    <small>Justin&amp;icoolQin在<cite title="Source Title">安理工242宿舍</cite></small>
                </blockquote>
            </div>
        </div>
        
        <div class="span10">
            <h4>创建者</h4>
            <hr class="featurette-divider">
            <div class="span10">
                <div class="span3">
                    Justin Leo ye
                </div>
            </div>
            <div class="span10">
                <div class="span3">
                    iCool Qin
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
