{% extends "base.html" %}
{% set page_title="Add Book Review" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% if search_error == '200' %}
            <span class="label"><strong>1.搜索图书</strong></span>
            &gt;&gt;
            <span class="label"><strong>2.确认图书</strong></span>
            &gt;&gt;
            <span class="label label-success"><strong>3.完&nbsp;&nbsp;成</strong></span>
            <hr class="featurette-divider">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12"><!--book info-->
                            <div class="row">
                                <div class="span2">
                                    <img src="{{ book['images']['medium'] }}" />
                                </div>
                                <div class="span4">
                                    <table class="table">
                                        <tr>
                                            <td>书名</td>
                                            <td>{{ book['title'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>作者</td>
                                            <td>{{ book['author'][0] }}</td>
                                        </tr>
                                        <tr>
                                            <td>原价</td>
                                            <td>{{ book['price'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>出版社</td>
                                            <td>{{ book['publisher'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>ISBN</td>
                                            <td>{{ book['isbn'] }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="span12"><!--book-selling form-->
                                    <h4>写书评</h4>
                                    <hr class="featurette-divider">
                                    <form class="form" method="post">
                                        <input type="hidden" value="{{ book['isbn'] }}" name="isbn">
                                        {% if content_error =='' %}
                                        <div class="control-group">
                                            <div class="controls">
                                                <textarea class="bookreview" name="content" value="" id="inputText" placeholder="写书评啦"></textarea>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p class="text-error">{{ content_error }}</p>
                                        <div class="control-group error">
                                            <div class="controls">
                                                <textarea class="bookreview" name="content" value="" id="inputText" placeholder="写书评啦">{{ content }}</textarea>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary btn-block">发表</button> 
                                            </div>
                                        </div>
                                    </form>
                                </div><!--book-selling form-->
                            </div>
                        </div><!--book info-->
                    </div><!--row-fluid-->
                </div><!--container-fluid-->
            {% else %}
                <p class="text-error">这本书有错误</p>
            {% endif %}
        </div>
    </div><!--row-fluid-->
</div><!--container-fluid-->
{% endblock content %}
