{% extends "base.html" %}
{% set page_title="Sell Book" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% if book != {} %}<!--Do some search action-->
            <span class="label"><strong>1.搜索图书</strong></span>
            &gt;&gt;
            <span class="label"><strong>2.确认图书</strong></span>
            &gt;&gt;
            <span class="label label-success"><strong>3.完&nbsp;&nbsp;成</strong></span>
            <hr class="featurette-divider">
                {% if search_error == '200' or search_error== '610' %}
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12"><!--book info-->
                            <div class="row">
                                <div class="span2">
                                    <img src="{{ book['images']['medium'] }}" />
                                </div>
                                <div class="span4">
                                    <table class="table">
                                        <tr>
                                            <td>书名</td>
                                            <td>{{ book['title'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>作者</td>
                                            <td>{{ book['author'][0] }}</td>
                                        </tr>
                                        <tr>
                                            <td>原价</td>
                                            <td>{{ book['price'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>出版社</td>
                                            <td>{{ book['publisher'] }}</td>
                                        </tr>
                                        <tr>
                                            <td>ISBN</td>
                                            <td>{{ book['isbn'] }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="span12"><!--book-selling form-->
                                    <h4>完成卖书过程</h4>
                                    <hr class="featurette-divider">
                                    <form class="form-horizontal" method="post">
                                        <input type="hidden" value="{{ book['hash'] }}" name="hashkey">
                                        <input type="hidden" value="{{ book['id'] }}" name="doubanid">
                                        <input type="hidden" value="{{ book['isbn'] }}" name="isbn">
                                        <div class="control-group">
                                            <label class="control-label label-small" for="selectSchool">学院</label>
                                            <div class="controls">
                                                <select id="selectSchool" name="school">
                                                    {% for school in const_info['school'] %}
                                                        {% if school[0] == const_info['default']['school'] %}
                                                        <option value="{{ school[0] }}" selected="selected">{{ school[1] }}</option>
                                                        {% else %}
                                                        <option value="{{ school[0] }}">{{ school[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label small" for="selectMajor">专业</label>
                                            <div class="controls">
                                                <select id="selectMajor" name="major">
                                                    {% for major in const_info['schoolmajor'][const_info['default']['school']] %}
                                                        {% if major[0] == const_info['default']['major'] %}
                                                        <option value="{{ major[0] }}" selected="selected">{{ major[1] }}</option>
                                                        {% else %}
                                                        <option value="{{ major[0] }}">{{ major[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label small" for="selectGrade">年级</label>
                                            <div class="controls">
                                                <select id="selectGrade" name="grade">
                                                    {% for grade in const_info['grade'] %}
                                                        {% if grade[0] == const_info['default']['grade'] %}
                                                        <option value="{{ grade[0] }}" selected="selected">{{ grade[1] }}</option>
                                                        {% else %}
                                                        <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label small" for="selectDiscount">折扣</label>
                                            <div class="controls">
                                                <select id="selectDiscount" name="discount">
                                                    {% for i in range(10) %}
                                                        {% if i==(const_info['default']['discount']|int()) %}
                                                        <option value="{{ i }}" selected="selected">{{ i }}折</option>
                                                        {% else %}
                                                        <option value="{{ i }}">{{ i }}折</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% if search_error =='200' %}
                                        <div class="control-group">
                                            <label class="control-label small" for="inputText">描述</label>
                                            <div class="controls">
                                                <textarea name="extra" value="" id="inputText" placeholder="Extra introductions"></textarea>
                                                <span class="help-inline">描述必须少于20个字！</span>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="control-group error">
                                            <label class="control-label small" for="inputText">描述</label>
                                            <div class="controls">
                                                <textarea name="extra" value="" id="inputText" placeholder="Extra introductions">{{ const_info['default']['extra'] }}</textarea>
                                                <span class="help-inline error">描述必须少于20个字！</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="control-group">
                                            <div class="controls">
                                                <button type="submit" class="btn btn-primary">完成</button> 
                                            </div>
                                        </div>
                                    </form>
                                </div><!--book-selling form-->
                            </div>
                        </div><!--book info-->
                    </div><!--row-fluid-->
                </div><!--container-fluid-->
                {% else %}
                
                {% endif %}
            {% else %}<!-- None search action-->
                {% if search_error == '600' %}
                <h2>Error {{ search_error }}</h2>
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="alert alert-warning">
                                您之前已经卖过这本书了！
                            </div>
                            <div class="span12">
                                <div class="span3">
                                    <a href="/sellbook"><button class="btn btn-primary" type="button"><i class="icon-repeat icon-white"></i>继续卖其他书</button></a>
                                </div>
                                <div class=span3>
                                    <a href="/me"><button class="btn btn-inverse" type="button"><i class="icon-list-alt icon-white"></i>查看待售图书</button></a>
                                </div>
                            </div>
                        </div>
                    </div><!--row-fluid-->
                </div><!--container-fluid-->
                {% endif %}
            {% endif %}
        </div>
    </div><!--row-fluid-->
</div><!--container-fluid-->
{% endblock content %}
