{% extends "base.html" %}
{% set page_title="Help" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span10">
            <section id="help">
                <div class="page-header">
                    <h4>帮助</h4>
                </div>
                <h5>ISBN</h5>
                <ol>
                    <li>什么是ISBN
                        <ul>
                            <li>ISBN（International Standard Book Number，国际标准书号）</li>
                            <li>ISBN，是国际通用的图书或独立的出版物（除定期出版的期刊）代码，通常位于书图书背面右下角。如图：在搜索图书时，链接横杠“—”无需输入。</li>
                            <li><img src="/static/img/whatisisbn-small.jpg"></li>
                        </ul>
                    </li>
                </ol>
                <h5>买家帮助</h5>
                <ol>
                    <li>联系不到卖家
                        <ul>
                            <li>在尝试过卖家提供的各种联系方式而依旧得不到联系后，说明此卖书信息已无效，请联系管理员删除信息以方便其他买书同学。</li>
                        </ul>
                    </li>
                    <li>其他情况
                        <ul>
                            <li>本站在不断完善中，您的反馈就是我们的动力。请把您的意见或建议告诉我们吧。</li>
                        </ul>
                    </li>
                    <li>我们的联系方式有：
                        <li>Boymonster公众微信，微信号：BoyMonster365；</li>
                        <li>BoyMonster邮箱，boymonster365@gmail.com；</li>
                        <li>BoyMonsterQQ群，320756612。</li>
                    </li>
                </ol>
                <h5>卖家帮助</h5>
                <ol>
                    <li>搜不到图书
                        <ul>
                            <li>首先请仔细检查一下您输入的ISBN码是否正确，条形码上面的10位ISBN码和条形码下面的13位ISBN码都有尝试过。</li>
                            <li>如若依旧搜不到图书，请去豆瓣网（http://book.douban.com/）先上传您的图书（本网站使用豆瓣的API），之后再进行搜索。</li>
                            <li>或者直接联系管理员。</li>
                        </ul>
                    </li>
                    <li>其他情况
                        <ul>
                            <li>本站在不断完善中，您的反馈就是我们的动力。请把您的意见或建议告诉我们吧。</li>
                        </ul>
                    </li>
                    <li>我们的联系方式有：
                        <li>Boymonster公众微信，微信号：BoyMonster365；</li>
                        <li>BoyMonster邮箱，boymonster365@gmail.com；</li>
                        <li>BoyMonsterQQ群，320756612。</li>
                    </li>
                </ol>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
