{% extends "base.html" %}
{% set page_title="Terms" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="span10">
            <section id="terms">
                <div class="page-header">
                    <h4>使用条款</h4>
                </div>
                <h5>卖家使用条款</h5>
                <ol>
                    <li>不上传虚假信息；</li>
                    <li>及时更正或删除您的信息，保证其时效性；</li>
                    <li>遵守大学生行为守则。</li>
                    <li>当注册者违反以上条款，本网站管理员将对其实行管理员权利。</li>
                    <li>遵守大学生行为守则；</li>
                </ol>
                <h5>买家使用条款</h5>
                <ol>
                    <li>注意交易安全，把控交易时间、地点、人物等交易要素；</li>
                    <li>提醒平台中出现的虚假或过期信息，以便帮助其他买书同学；</li>
                    <li>遵守大学生行为守则；</li>
                </ol>
            </section>
            <section id="privacy">
                <div class="page-header">
                    <h4>隐私政策</h4>
                </div>
                <ol>
                    <li>您在本网站所填私人信息任何人都可浏览；</li>
                    <li>除非网站后台数据库泄露或遭受黑客攻击，否则本网站对您的私人信息不负任何责任。</li>
                </ol>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
